{% extends 'base.html' %}
<!DOCTYPE html>


{% block title %}高成东的博客{% endblock %}


{% block content %}
<div class="content-wrap">
    <div id="content" class="content">

    <section id="posts" class="posts-expand">


    <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">

        <header class="post-header">
            <h1 class="post-title" itemprop="name headline">
                <a class="post-title-link" href="http://www.geerniya.cn/blog/4/" itemprop="url">
                  尝试一个很短的博客
                </a>
            </h1>

            <div class="post-meta">
            <span class="post-time">

                <span class="post-meta-item-icon">
                    <i class="fa fa-calendar-o"></i>
                </span>

                <span class="post-meta-item-text">发表于</span>

                <time title="Post created" itemprop="dateCreated datePublished" datetime="#">
                2018-02-17
                </time>

            </span>

            <span class="post-category">
                <span class="post-meta-divider">|</span>

                <span class="post-meta-item-icon">
                    <i class="fa fa-folder-o"></i>
                </span>

                <span class="post-meta-item-text">分类于</span>

                <span itemprop="about" itemscope="" itemtype="http://schema.org/Thing">
                    <a href="http://www.geerniya.cn/category/%E7%94%9F%E6%B4%BB/" itemprop="url" rel="index">
                        <span itemprop="name">生活</span>
                    </a>
                </span>

            </span>

        </div>
        </header>


        <div class="post-body" itemprop="articleBody">

            <blockquote>
<p>尝试一个很短的博客</p>
</blockquote>
<p>尝试一个很短的博客</p>
<p>它真的很短！</p>
<p>——The End——</p> ...
          <!--noindex-->
            <div class="post-button text-center">
                <a class="btn" href="http://www.geerniya.cn/blog/4/" rel="contents">
                  阅读全文 »
                </a>
            </div>
          <!--/noindex-->


        </div>

        <footer class="post-footer">
            <div class="post-eof"></div>
        </footer>
    </article>

    

    <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">

        <header class="post-header">
            <h1 class="post-title" itemprop="name headline">
                <a class="post-title-link" href="http://www.geerniya.cn/blog/2/" itemprop="url">
                  我的第二篇博客
                </a>
            </h1>

            <div class="post-meta">
            <span class="post-time">

                <span class="post-meta-item-icon">
                    <i class="fa fa-calendar-o"></i>
                </span>

                <span class="post-meta-item-text">发表于</span>

                <time title="Post created" itemprop="dateCreated datePublished" datetime="#">
                2018-02-08
                </time>

            </span>

            <span class="post-category">
                <span class="post-meta-divider">|</span>

                <span class="post-meta-item-icon">
                    <i class="fa fa-folder-o"></i>
                </span>

                <span class="post-meta-item-text">分类于</span>

                <span itemprop="about" itemscope="" itemtype="http://schema.org/Thing">
                    <a href="http://www.geerniya.cn/category/python/" itemprop="url" rel="index">
                        <span itemprop="name">python</span>
                    </a>
                </span>

            </span>

        </div>
        </header>


        <div class="post-body" itemprop="articleBody">

            <p>以下笔记是实际驾驶中的操作经验，可能对驾照考试帮助不是很多，仅供参考：</p>
<p>左转向：
（1）首先务必观察道路指示标记，以及红绿灯，确定可以左转
（2）到达转弯路口减速至怠速或者20km左右，并打开左转灯
（3）当驾驶员视线没过斑马线，向左打四分之一圈左右，即可进入下个直行车道，车辆行驶变正之后及时回正方向盘
（4）如果是长拐弯，应该保持一定速度向前行驶，并提前向左打方向，方向盘转度一般也是四分之一即可，车辆行驶变正之后及时回正方向盘</p>
<p>右转向：
（1）首先务必观察道路指示标记，以及红绿灯，确定可以右转，一般直行红灯都可以右转，除非有右转指示灯，如果是红灯请不要右转&lt; ...
          <!--noindex-->
            </p><div class="post-button text-center">
                <a class="btn" href="http://www.geerniya.cn/blog/2/" rel="contents">
                  阅读全文 »
                </a>
            </div>
          <!--/noindex-->


        </div>

        <footer class="post-footer">
            <div class="post-eof"></div>
        </footer>
    </article>

    

    <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">

        <header class="post-header">
            <h1 class="post-title" itemprop="name headline">
                <a class="post-title-link" href="http://www.geerniya.cn/blog/5/" itemprop="url">
                  这是新的尝试
                </a>
            </h1>

            <div class="post-meta">
            <span class="post-time">

                <span class="post-meta-item-icon">
                    <i class="fa fa-calendar-o"></i>
                </span>

                <span class="post-meta-item-text">发表于</span>

                <time title="Post created" itemprop="dateCreated datePublished" datetime="#">
                2018-01-29
                </time>

            </span>

            <span class="post-category">
                <span class="post-meta-divider">|</span>

                <span class="post-meta-item-icon">
                    <i class="fa fa-folder-o"></i>
                </span>

                <span class="post-meta-item-text">分类于</span>

                <span itemprop="about" itemscope="" itemtype="http://schema.org/Thing">
                    <a href="http://www.geerniya.cn/category/python/" itemprop="url" rel="index">
                        <span itemprop="name">python</span>
                    </a>
                </span>

            </span>

        </div>
        </header>


        <div class="post-body" itemprop="articleBody">

            <p>django get_object_or_404 是django shortcuts模块里面一个比较简便的方法，特别是用django get来操作数据库的时候，可以帮 我们少写一些代码，加快开发速度。</p>
<p>get_object_or_404的介绍： 我们原来调用django 的get方法，如果查询的对象不存在的话，会抛出一个DoesNotExist的异常， 现在我们调用django get_object_or_404方法，它会默认的调用django 的get方法， 如果查询的对象不存在的话，会抛出一个Http404的异常，我感觉这样对用户比较友好， 如果用户查询某个产品不存在的 ...
          <!--noindex-->
            </p><div class="post-button text-center">
                <a class="btn" href="http://www.geerniya.cn/blog/5/" rel="contents">
                  阅读全文 »
                </a>
            </div>
          <!--/noindex-->


        </div>

        <footer class="post-footer">
            <div class="post-eof"></div>
        </footer>
    </article>

    

    <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">

        <header class="post-header">
            <h1 class="post-title" itemprop="name headline">
                <a class="post-title-link" href="http://www.geerniya.cn/blog/16/" itemprop="url">
                  这篇blog测试高亮显示
                </a>
            </h1>

            <div class="post-meta">
            <span class="post-time">

                <span class="post-meta-item-icon">
                    <i class="fa fa-calendar-o"></i>
                </span>

                <span class="post-meta-item-text">发表于</span>

                <time title="Post created" itemprop="dateCreated datePublished" datetime="#">
                2018-01-26
                </time>

            </span>

            <span class="post-category">
                <span class="post-meta-divider">|</span>

                <span class="post-meta-item-icon">
                    <i class="fa fa-folder-o"></i>
                </span>

                <span class="post-meta-item-text">分类于</span>

                <span itemprop="about" itemscope="" itemtype="http://schema.org/Thing">
                    <a href="http://www.geerniya.cn/category/%E7%94%9F%E6%B4%BB/" itemprop="url" rel="index">
                        <span itemprop="name">生活</span>
                    </a>
                </span>

            </span>

        </div>
        </header>


        <div class="post-body" itemprop="articleBody">

            <p>以下笔记是实际驾驶中的操作经验，可能对驾照考试帮助不是很多，仅供参考：</p>
<p>左转向： （1）首先务必观察道路指示标记，以及红绿灯，确定可以左转 （2）到达转弯路口减速至怠速或者20km左右，并打开左转灯 （3）当驾驶员视线没过斑马线，向左打四分之一圈左右，即可进入下个直行车道，车辆行驶变正之后及时回正方向盘 （4）如果是长拐弯，应该保持一定速度向前行驶，并提前向左打方向，方向盘转度一般也是四分之一即可，车辆行驶变正之后及时回正方向盘</p>
<p>右转向： （1）首先务必观察道路指示标记，以及红绿灯，确定可以右转，一般直行红灯都可以右转，除非有右转指示灯，如果是红灯请不要右转&lt; ...
          <!--noindex-->
            </p><div class="post-button text-center">
                <a class="btn" href="http://www.geerniya.cn/blog/16/" rel="contents">
                  阅读全文 »
                </a>
            </div>
          <!--/noindex-->


        </div>

        <footer class="post-footer">
            <div class="post-eof"></div>
        </footer>
    </article>

    

    <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">

        <header class="post-header">
            <h1 class="post-title" itemprop="name headline">
                <a class="post-title-link" href="http://www.geerniya.cn/blog/15/" itemprop="url">
                  django学习——解决博客评论中长串单个英文字母或数字不能换行的问题
                </a>
            </h1>

            <div class="post-meta">
            <span class="post-time">

                <span class="post-meta-item-icon">
                    <i class="fa fa-calendar-o"></i>
                </span>

                <span class="post-meta-item-text">发表于</span>

                <time title="Post created" itemprop="dateCreated datePublished" datetime="#">
                2018-01-25
                </time>

            </span>

            <span class="post-category">
                <span class="post-meta-divider">|</span>

                <span class="post-meta-item-icon">
                    <i class="fa fa-folder-o"></i>
                </span>

                <span class="post-meta-item-text">分类于</span>

                <span itemprop="about" itemscope="" itemtype="http://schema.org/Thing">
                    <a href="http://www.geerniya.cn/category/django/" itemprop="url" rel="index">
                        <span itemprop="name">django</span>
                    </a>
                </span>

            </span>

        </div>
        </header>


        <div class="post-body" itemprop="articleBody">

            <p>在制作博客网站时，对博文的评论系统构建，发现一个奇怪的现象，如果输入长串单个英文字母或数字，浏览器并不能自动换行，会超出指定区域，如下所示：</p>
<p><a href="./往事如烟的博客_files/20180125180134193" class="fancybox" rel="group"><img alt="这里写图片描述" src="./往事如烟的博客_files/20180125180134193"></a></p>
<p>上网搜了下，发现 ...
          <!--noindex-->
            </p><div class="post-button text-center">
                <a class="btn" href="http://www.geerniya.cn/blog/15/" rel="contents">
                  阅读全文 »
                </a>
            </div>
          <!--/noindex-->


        </div>

        <footer class="post-footer">
            <div class="post-eof"></div>
        </footer>
    </article>

    

    <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">

        <header class="post-header">
            <h1 class="post-title" itemprop="name headline">
                <a class="post-title-link" href="http://www.geerniya.cn/blog/14/" itemprop="url">
                  尝试标签云
                </a>
            </h1>

            <div class="post-meta">
            <span class="post-time">

                <span class="post-meta-item-icon">
                    <i class="fa fa-calendar-o"></i>
                </span>

                <span class="post-meta-item-text">发表于</span>

                <time title="Post created" itemprop="dateCreated datePublished" datetime="#">
                2018-01-24
                </time>

            </span>

            <span class="post-category">
                <span class="post-meta-divider">|</span>

                <span class="post-meta-item-icon">
                    <i class="fa fa-folder-o"></i>
                </span>

                <span class="post-meta-item-text">分类于</span>

                <span itemprop="about" itemscope="" itemtype="http://schema.org/Thing">
                    <a href="http://www.geerniya.cn/category/python/" itemprop="url" rel="index">
                        <span itemprop="name">python</span>
                    </a>
                </span>

            </span>

        </div>
        </header>


        <div class="post-body" itemprop="articleBody">

            <p>多对多关系
多对多关系的两端都会自动获得访问另一端的API。 这些API 的工作方式与上面提到的“方向”一对多关系一样。</p>
<p>唯一的区别在于属性的命名：定义 ManyToManyField 的模型使用该字段的属性名称，而“反向”模型使用源模型的小写名称加上'_set' （和一对多关系一样）。</p>
<p>一个例子可以让它更好理解：</p>
<p>e = Entry.objects.get(id=3)
e.authors.all() # Returns all Author objects for this Entry.
e.authors.count()
e.authors. ...
          <!--noindex-->
            </p><div class="post-button text-center">
                <a class="btn" href="http://www.geerniya.cn/blog/14/" rel="contents">
                  阅读全文 »
                </a>
            </div>
          <!--/noindex-->


        </div>

        <footer class="post-footer">
            <div class="post-eof"></div>
        </footer>
    </article>

    

  </section>

{% for blog in all_blog.object_list %}
    { article }
    {{ blog.title }}   <!---博客的标题-->
    {{ blog.create_time|date:'Y-m-d' }}  <!--博客的发表时间，用装饰器date指定显示格式-->
    {{ blog.category.name }}  <!--博客的分类-->
    {{ blog.content }}   <!--博客的内容-->
    {/article }
{% endfor %}

          <!--分页展示-->
<nav class="pagination">
    <div class="pageturn">
        <ul class="pagelist">

            {% if all_blog.has_previous %}
                <li class="long"><a href="?{{ all_blog.previous_page_number.querystring }}">上一页</a></li>
            {% endif %}

            {% for page in all_blog.pages %}
            {% if page %}
                {% ifequal page all_blog.number %}
                    <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                {% else %}
                     <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                {% endifequal %}
            {% else %}
                <li class="none"><a href="">...</a></li>
            {% endif %}
            {% endfor %}
            {% if all_blog.has_next %}
                <li class="long"><a href="?{{ all_blog.next_page_number.querystring }}">下一页</a></li>
            {% endif %}

        </ul>
    </div>
</nav>

    </div>

</div>
{% endblock  %}
