{% extends 'base.html' %}

{% block title %}
标签云
{% endblock %}

{% block content %}
<div class="content-wrap">

{% for tag in all_tag %}
<a href="{% url 'tag_name' tag.name %}"

   {% if tag.blog_set.count <= 2 %}
        style="font-size: 12.5px; color: #999"
   {% elif tag.blog_set.count <= 5 %}
        style="font-size: 15px; color: #666"
   {% elif tag.blog_set.count <= 10 %}
        style="font-size: 20px; color: #444"
   {% elif tag.blog_set.count <= 20 %}
        style="font-size: 25px; color: #222"
   {% elif tag.blog_set.count <= 50 %}
        style="font-size: 30px; color: #111"
   {% else %}
        style="font-size: 35px; color: #000"
   {% endif %}>

    {{ tag.name }}</a>
{% endfor %}


{% endblock %}
